header{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #FFC8BD;
    color: black;
    justify-content: space-between;
}
nav{
    background-color: #EFA8E4;
    text-align: center;
    
}
section{
    grid-column: 1/4;
    background-color: #FFEBD9;
    
}
aside{
    grid-column:4/5;
    background-color: aliceblue;
}
footer{
    background-color: #FFA1A1;
    color: black;
    text-align: center;


}
main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
}

.menu{
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: flex-start;

    }
.menu>li{
    float: left;
    color: #FFA1A1(0, 0, 0);
}
@media screen and (max-width:600px){
    header{
        flex-direction:column;
    }
    
}
